body .item_slider .slides{
     
    height: 400px;
}
body .sku_props .bx_item_detail_size ul li{
    display: inline-table;
    min-height: 100px;
    width: 108px;
}
body .sku_props .bx_item_detail_size ul li:nth-child(7n){
      
}
.buy_block{
    margin-bottom: 20px;
}
body #content .item_slider .slides ul li{
    overflow: unset;
}
body .item_slider .slides li img, .item_slider .thumbs li img{

}
body .item_slider .slides .offers_img img{
    max-height: 400px;
}
body .item_slider .slides{
    
}
body .sku_props .bx_item_detail_size ul li span{
    font-size: 11px;
}
.bx_size .counter_block,
.catalog_detail .buy_block .bx_size .offer_buy_block > .wrapp_one_click{
    display: none!important;
}
.bx_size .counter_wrapp{
    margin-bottom: 10px;
}
.catalog_detail .w_icons.button.to-cart{
    padding-right: 10px;
}
#content .sku_props .bx_size ul li.active{
    background: transparent;
    color: #000; 
    box-shadow: 0px 1px 14px -1px #006ac5;
}
#content .bx_item_detail_size ul li:not(.active):hover .offer_buy_block span{
    color: #fff;
}
.sku_props .bx_size ul li .icon{
    float: left;
    margin-right: 4px;
    padding-bottom: 0;
    top: 6px;
}
.sku_props .bx_size ul li .icon.stock{
    left: 20%;
}
.sku_props .bx_size ul li .item-stock{
    margin: 0;
}
.sku_props .bx_size ul li .item-stock .value{
    padding: 0;
    height: 25px;
}
.sku_props .bx_size ul li .store_view{
    text-align: center;
}
body .image_wrapper_block img{
    margin: 0;
}
body .tabs_slider>li{
    width: 199px!important;
}
body .bottom_slider .like_icons {
    top: -6px;
    right: 10px;
}
.item_slider:not(.flex) .slides li{
width: 420PX !important;
    height: 100% !important;    
}
.item_slider .slides{
       max-width: 420px !important;
       height: 420px !important;
}
.catalog_detail .item_slider .thumbs{
    left: 50px !important;
}