.menu_top_block.catalogfirst li.full>.dropdown, .menu_top_block.catalog_block .dropdown> li.full>.dropdown{
    /*margin-left: 17.7%;
    left: 220px;
    width: 1012px;
    position: fixed;
    display: block;
    margin-top: 10%;
    padding-left: 0px;
    padding-right: 0px;*/
}