@media print{
	body{background:#fff !important;}
	.basket_wrapp .module-cart table.bottom.middle td.row_values{float:none !important;display:table-cell !important;padding-top: 39px;}
	.scroll-to-top, .style-switcher, div.jivo-state-widget#jivo-iframe-container, .form_demo-switcher, .jivo-state-widget iframe#jivo_container{display:none !important;}
	div.jivo-state-widget#jivo-iframe-container{opacity:0 !important;visibility:hidden !important;}
	header{background: none !important;}
	.phone_text{color:#000 !important;}
	.left_block, body .bx_item_list_you_looked_horizontal, .bx_ordercart .bx_sort_container{display:none;}
	.right_block{padding:0px;}
	.bx_ordercart .bx_ordercart_order_pay_center, #basket_quantity_control{display:none;}
	.bx_ordercart .bx_ordercart_order_table_container table.counter td:first-child{border: none !important;}
	.bx_ordercart .bx_ordercart_order_table_container table.counter input{background:none;border: none;}
	.bx_ordercart .bx_ordercart_order_table_container tbody td.itemphoto{opacity:0;height:0px;width: 0px;}
	.bx_ordercart .bx_ordercart_coupon:first-of-type{opacity:0;height:0px;}
	.slogan{display:none;}
	.print #header .middle-h-row .basket_wrapp{display:block !important;}
	.basket_wrapp  .header-cart, .middle_phone .phones .order_wrap_btn{display:none;}
	.print_basket{display:block;}
	.bx_ordercart .bx_ordercart_order_table_container table thead td{text-align:left;}
	.bx_ordercart .bx_ordercart_order_table_container table thead td.item, .bx_ordercart .bx_ordercart_order_table_container tbody td.item{padding-left:30px;}
	.bx_ordercart .bx_ordercart_order_table_container tbody td.itemphoto{padding:0px;}
	.bx_ordercart .bx_ordercart_order_table_container tbody td.itemphoto >div{min-width:0px;}
	.bx_ordercart .bx_ordercart_order_table_container table tbody td{padding-left:12px;}
	.bx_ordercart .bx_ordercart_order_table_container table thead td{font-size:12px;}
	.bx_ordercart .bx_ordercart_order_table_container .bx_ordercart_itemtitle a{font-size:14px;}
	.bx_ordercart .bx_ordercart_order_table_container tbody td.price .current_price, .bx_ordercart .bx_ordercart_order_table_container tbody td.custom>div:not(.centered){font-size:15px;}
	.bx_ordercart .bx_ordercart_order_sum tr #allSum_FORMATED, .bx_ordercart .bx_ordercart_order_sum tr #allSum_wVAT_FORMATED, .bx_ordercart .bx_ordercart_order_sum tr td:first-child{font-size:15px;}
	.bx_ordercart .bx_ordercart_order_table_container tbody td.price .old_price{font-size:11px;}
	.bx_ordercart .bx_ordercart_order_table_container tbody td.price .type_price, .bx_ordercart .bx_ordercart_order_table_container tbody td.price .type_price_value{font-size:10px;}

	.basket_print_desc{margin:30px 0 50px;overflow:hidden;}
	#panel, .top-h-row, .catalog_menu, #header .middle-h-row .center_block > *, #header .middle-h-row .center_block > .middle_phone .order_wrap_btn, #header .middle-h-row .basket_wrapp, footer, .footer, .breadcrumbs, .basket_sort, .counter_block span, .bigdata_recommended_products_container, .bottom_btn, .coupon, .style-switcher, .delay-cell, .remove-cell, .bigdata_recommended_products_items{display:none !important;}
	div#jivo-iframe-container{display:none !important;visibility:hidden;}
	div#jivo-iframe-container.jivo-iframe-container-bottom{display:none!important;}
	.scroll-to-top, .style-switcher, div.jivo-state-widget#jivo-iframe-container, .form_demo-switcher, .jivo-state-widget iframe#jivo_container, jdiv{display:none !important;}
	div.jivo-state-widget#jivo-iframe-container{opacity:0 !important;visibility:hidden !important;}
	.counter_block, .counter_block input, .bottom.middle .top_total_row, #header{border-color:transparent !important;}
	.counter_block input{background:none !important;}
	.row_values{width:178px !important;}
	#header .middle-h-row .center_block > .middle_phone, .wrapper.has_menu #header .wrapper_inner .middle-h-row .center_block .middle_phone, .wrapper.has_menu #header .phones{display:block !important;text-align:right;}
	.wrapper.has_menu #header .middle-h-row .center_block .middle_phone .phone_text a{font-size:19px;}
	.basket_fly #header .middle-h-row .center_block{padding-right:0;}
	h1{padding-top-top:20px;}
	.basket_print_desc .store_property{display:inline-block;float:left;margin-right:3%;vertical-align:top;width:22%;}
	.basket_print_desc .store_property:last-of-type{margin-right:0;}
	body .wrapper #header{margin-bottom:0 !important;}
	.wrapper{padding-bottom:0;}
	table{page-break-inside:auto;}
	tr{page-break-inside:avoid;page-break-after:auto;}

	.bx_ordercart .bx_ordercart_order_table_container{overflow:visible;border: 1px solid #f3f3f3;}

	.bx_ordercart .bx_ordercart_order_table_container>table{display:table;}
	.bx_ordercart .bx_ordercart_order_table_container table thead, .bx_ordercart .bx_ordercart_order_table_container>table>tbody{display:table-row-group;}
	.bx_ordercart .bx_ordercart_order_table_container>table>tbody>tr{display:table-row;padding:0px;}
	.bx_ordercart .bx_ordercart_order_table_container>table>tbody>tr>td:not(.item):not(.itemphoto):not(.margin){display:table-cell;width:auto;position:relative;}
	.bx_ordercart .bx_ordercart_order_table_container table td.margin{min-width:0px;max-width:0px;}
	.bx_ordercart .bx_ordercart_order_table_container table tbody td.itemphoto{float:none;opacity: 0;height: 0px;width: 0px;margin:0px;min-width:0px;max-width:0px;}
	.bx_ordercart .bx_ordercart_order_table_container table tbody td.item{width: 535px;padding-top: 47px;}
	.bx_ordercart .bx_ordercart_order_table_container tbody td.item, .bx_ordercart .bx_ordercart_order_table_container tbody td.item h2{text-align:left !important;}
	#header .middle-h-row, #header .catalog_menu{margin:0px;}
	body h1{text-align:left;padding-right:0px;}
}